<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <title>Edit Task</title>
</head>
<body>
<div class="ui container">
    <h1 class="ui center aligned header">Edit todo</h1>
    <form class="ui form" action="{{ url_for('update', todo_id=todo_id) }}", method="POST">
        <input type="text" name="todo" value="{{ todo['task'] }}">
        <button class="ui blue button" type="submit">save</button>
    </form>
</div>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
</body>
</html>